@model IEnumerable<Infraestucture.Models.Ubicacion>

@{
    ViewBag.Title = "Index";
}

<h2>Ubicaciones</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descUbicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descUbicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idUbicacion }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idUbicacion }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idUbicacion })
        </td>
    </tr>
}

</table>
