@model IEnumerable<Infraestucture.Models.detalleMovimiento>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Titulo</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.encabezadoMovimiento.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.encabezadoMovimiento.documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.encabezadoMovimiento.movimientoTipo.nombreMovimiento)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.encabezadoMovimiento.Persona.nombrePersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.descripcionProducto)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.encabezadoMovimiento.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.encabezadoMovimiento.documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.encabezadoMovimiento.movimientoTipo.nombreMovimiento)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.encabezadoMovimiento.Persona.nombrePersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.descripcionProducto)
            </td>
            

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.consMovimiento }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.consMovimiento }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.consMovimiento })
            </td>
        </tr>
    }

</table>
